*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4c4c4c;
    color: #ffeded;
}

.titulo{
    font-family: "Caveat Brush", cursive;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: 40px;
}

p{
    background-color: #acacac;
    text-align: center;
    margin: 20px;
}

.btn-box{
    text-align: center;
}

button{
    text-align: center;
    padding: 20px 50px;
    border-radius: 15px 0 15px 0;
    border: none;
}

#portada{
    text-align: center;
    margin-top: 40px;
}

#portada img{
    border: 25px solid orange;
}

/* CARD STYLES */

.user-card{
    width: 300px;
    background-color: rgb(55, 92, 93);
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 50px auto;
}
.user-card-info img{
    border-radius: 50%;
}
.btn-link{
    display: block;
    background-color: rgb(255, 0, 166);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}
.name{
    margin-bottom: 15px;
}
.text-green{
    margin: 5px;
    background-color: rgb(55, 92, 93);
}